$themeColor: linear-gradient(
    222deg,
    rgba(26, 130, 249, 0.8),
    rgba(255, 0, 0, 0) 70.71%
  ),
  linear-gradient(121deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%);

$lettersColor: rgb(36, 41, 47);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifySpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.firstSection {
  height: 100vh;
  @include justifySpaceAround;
}
