@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.paragraph {
  @apply text-lightwhite font-extrabold font-mono hover:opacity-50;
}
