@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Harmattan&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fredoka One", "Lato", "Montserrat", sans-serif;
  background: #f1f6f7;
}

.paragraph {
  @apply text-textBlack hover:opacity-60 font-thin;
}

input:invalid[focused="true"] {
  border: 1px solid #ff9494;
}

input:invalid[focused="true"] ~ span {
  display: block;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 1.5rem;
  height: 0.813rem;
  width: 0.813rem;
  background: #77d2f7;
  box-shadow: -500px 0 0 495px #77d2f7;
  cursor: pointer;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  background: linear-gradient(
    90deg,
    rgba(247, 69, 101, 1) 0%,
    rgba(241, 246, 247, 1) 60%
  );
}

.dropdownbuttons {
  @apply py-4 rounded-3xl text-lg font-Harmattan text-white hover:opacity-80 font-bold  w-116;
}
